#category-list, #category-list ul {
    list-style: none;
    margin-left: 0;
}

#category-list {
    @include rem-attribute('padding', 1);
}

[data-label=Notes] > code {
    display: block;
    @include rem-attribute('max-height', 3);
    overflow-y: auto;
}