#category-list, #category-list ul {
    list-style: none;
    margin-left: 0;
}

#category-list {
    @include rem-attribute('padding', 1);
}

[data-label=Notes] > code {
    display: block;
    @include rem-attribute('max-height', 6);
    overflow-y: auto;
}

.sample-response {
    h4, .onoff {
        display: inline-block;
    }
    h4 {
        vertical-align: middle;
    }
    .onoff {
        @include rem-attribute('margin-left', .5);
    }
}