<div>
    <h2>{{Name}}</h2>
    <span>{{Description}}</span>
    <ul class="grid action-list">
        {{#each Actions}}
        <li class="grid__item one-whole action">
            {{> p-action}}
        </li>
        {{/each}}
    </ul>
</div>