<div class="grid__item one-whole category">
    <h2>{{Name}}</h2>
    <span>{{Description}}</span>
    <ul>
        {{#each Actions}}
        <li>
            {{> p-action}}
        </li>
        {{/each}}
    </ul>
</div>