<td data-label="Name" class="name{{#if Required}} required{{/if}}"><code>{{Name}}</code></td>
<td data-label="Type" class="type"><code>{{Type}}</code></td>
<td data-label="Notes" class="notes">{{Notes}}</td>