/*------------------------------------*\
    $BACK TO TOP
\*------------------------------------*/
a.back-to-top {
    display: none;
    position: fixed;
    z-index: 999;
    @include rem-attribute('right', 1.5);
    @include rem-attribute('bottom', 1.5);
}
