/*------------------------------------*\
    $CARDS
\*------------------------------------*/

.card {
    list-style: none;
    margin: 0px;
    & ul{
        list-style: none;
        margin: 0px;
    }
    
    border: 1px solid $dark-gray-blue;
    border-radius: 5px;
    padding: 0 16px; 
}