@if $use-lozenges == true {

    /*------------------------------------*\
    $LOZENGES
\*------------------------------------*/
    .pill, .loz {
        background-color: $dark-gray-blue;
        color: $darkest-gray-blue;
        text-shadow: 0 1px 0 $medium-gray-blue;
    }

    a {
        &.pill, &.loz {
            text-decoration: none;
            @include rem-attribute('margin-left', .25);
            @include rem-attribute('margin-right', .25);
            @include rem-attribute('margin-top', .25);
            @include rem-attribute('margin-bottom', .25);
            &:hover {
                background-color: $medium-gray-blue;
                color: $darker-gray-blue;
                text-shadow: 0 1px 0 $light-gray-blue;
            }
        }
    }
}
//endif
