/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.navigation {
    /*Strip the ul of padding and list styling*/
    ul li, li a {
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: static;
        display: none;
        /*Create a horizontal list with spacing*/
        > li {
            display: inline-block;
            margin-right: 0;
            border-bottom: 1px solid $darker-gray-blue;
            /*Style for menu links*/
            > a {
                display: block;
                @include rem-attribute('min-width', 8.75);
                @include rem-attribute('padding', .5);
                text-align: center;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: $white;
                background-color: $darkest-gray-blue;
                text-decoration: none;
                text-shadow: 0 1px 0 $darker-gray-blue;
            }
            
            &:hover {
                > a {
                    /*Hover state for top level links*/
                    background-color: $dark-gray-blue;
                }
            }
        }
    }
    /*Style 'show menu' label button and hide it by default*/
    .toggle-menu {
        display: block;
        text-decoration: none;
        color: $white;
        background-color: $darker-gray-blue;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        @include rem-attribute('padding-top', .625);
        @include rem-attribute('padding-bottom', .625);

        &:hover {
            background-color: $dark-gray-blue;
        }
    }
    /*Hide checkbox*/
    input[type=checkbox] {
        display: none;
    }
    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ nav #menu {
        display: block;
    }
    /*Responsive Styles*/
    @media #{$lap} {
        /* Make all menu standard width */
        ul li, li a {
            width: auto;
        }

        ul {
            display: block;

            > li {
                border: none;
                margin-bottom: 0;
                @include rem-attribute('margin-bottom', .188);
            }
        }
        /* Hide 'show menu' link */
        .toggle-menu {
            display: none;
        }
    }
}
