/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.navigation {
    nav {
        @include rem-attribute('min-height', 3.125);
    }
    /*Strip the ul of padding and list styling*/
    ul li, li a {
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: static;
        display: none;
        /*Create a horizontal list with spacing*/
        li {
            display: inline-block;
            /*float: left;*/
            margin-right: 1px;
            margin-bottom: 1px;
            /*Style for menu links*/
            a {
                display: block;
                @include rem-attribute('min-width', 8.75);
                @include rem-attribute('height', 3.125);
                @include rem-attribute('line-height', 3.125);
                text-align: center;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: $white;
                background-color: $darkest-gray-blue;
                text-decoration: none;
                text-shadow: 0 1px 0 $darker-gray-blue;
            }
            /*Hide dropdown links until they are needed*/
            li {
                ul {
                    display: none;
                    /*Make dropdown links vertical*/
                    li {
                        display: block;
                        /*float: none;*/
                        /*Prevent text wrapping*/
                        a {
                            width: auto;
                            @include rem-attribute('min-width', 6.25);
                            padding-top: 0;
                            padding-bottom: 0;
                            @include rem-attribute('padding-left', 1.25);
                            @include rem-attribute('padding-right', 1.25);
                            /*Display the dropdown on hover*/
                            &:hover + .hidden, .hidden:hover {
                                display: block;
                            }
                        }
                    }
                }
            }

            &:hover {
                a {
                    /*Hover state for top level links*/
                    background-color: $dark-gray-blue;
                }

                ul {
                    /*Style for dropdown links*/
                    a {
                        background-color: $medium-gray-blue;
                        color: $darkest-gray-blue;
                        @include rem-attribute('height', 2.5);
                        @include rem-attribute('line-height', 2.5);
                        /*Hover state for dropdown links*/
                        &:hover {
                            background-color: $dark-gray-blue;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    /*Style 'show menu' label button and hide it by default*/
    .toggle-menu {
        display: block;
        text-decoration: none;
        color: $white;
        background-color: $darker-gray-blue;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        @include rem-attribute('padding-top', .625);
        @include rem-attribute('padding-bottom', .625);

        &:hover {
            background-color: $dark-gray-blue;
        }
    }
    /*Hide checkbox*/
    input[type=checkbox] {
        display: none;
    }
    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ nav #menu {
        display: block;
    }
    /*Responsive Styles*/
    @media #{$lap} {
        ul {
            position: absolute;
            display: block;
        }

        li {
            margin-bottom: 0;
        }
        /* Make all menu standard width */
        ul li, li a {
            width: auto;
        }
        /* Hide 'show menu' link */
        .toggle-menu {
            display: none;
        }
    }
}
