/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h2 {
    border-bottom: $thick-border-width double $darkest-gray-blue;
}

h3 {
    color: $darker-gray-blue;
}

h4, h5, h6 {
    color: $dark-gray-blue;
}

header > h1 {
    margin-bottom: 0;
}
