/*------------------------------------*\
    $TABLES
\*------------------------------------*/

.table--data {
    @include rem-attribute('font-size', 1);

    > thead, > th {
        > tr {
            > td {
                font-weight: bold;
            }
        }
    }
}

/**
 * Bordered tables
 */
.table--bordered {
    th,
    td,
    td:empty {
        border: 1px solid $dark-gray-blue;
    }
}
/**
 * Striped tables
 */
.table--striped {
    tbody tr:nth-of-type(odd) {
        background-color: $medium-gray-blue;
    }
}

/* If a table is contained in an element with this class it will scroll the table contents horizontally when overflow on the x-axis is hit. */
.table-wrapper {
    overflow: auto;
    overflow-y: hidden;
}